body {
  background: #CCC;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.canvas-frame {
  width: fit-content;
  height: fit-content;
  border: 1px solid #999;
}

.control-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.control-panel > div {
  width: 600px;
}
.control-panel .button-row {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.control-panel .input-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.control-panel .input-row label {
  display: inline-block;
  min-width: 170px;
}

.control-panel .input-row input {
  width: 4rem;
}
